body {
  //background: #2c3e50;
  color: @color-text;
  font-family: @family-text;
}

.content {
  .layout;
}

.home {
  //.layout;
  background: #2c3e50;

  .full-height {

    .carousel {
      height: 100%;

      .carousel-indicators li { /*bootstrap*/
        width: 20px;
        height: 20px;
        margin: 50px 20px;
        background-color: #000 \9;
        background-color: rgba(255, 255, 255, 0.5);
        border: 0 solid rgba(255, 255, 255, 0.5);
      }
      .carousel-indicators .active { /*bootstrap*/
        width: 20px;
        height: 20px;
        margin: 50px 20px;
        background-color: #74c7d5;
      }

      .carousel-inner {
        width: 100%;
        height: 100%;

        .item {
          height: 100%;
        }

      }
    }
  }

  .home_slide1 {
    background: url(/landing/img/slide1.png) no-repeat 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .home_slide2 {
    background: url(../img/slide2.png) no-repeat 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .home_slide3 {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

    .home_slide_exprs {
      height: 100%;
      width: 100%;

      .row {height: 100%;} /*bootstrap's class*/

      .table {
        display: table;
        width: 100%;
        height: 100%;

        .table_cell {
          display: table-cell;
          height: 100%;
          width: 100%;
          vertical-align: middle;
          text-align: center;

          .table_cell_content {
            display: inline-block;
            border-radius: 4px;
            background-color:  rgba(255, 255, 255, 0.3);
            padding: 40px 35px;

            .home_slide_expr1 {
              color: @color-blue;
              font: normal 60px/51px @family-text;
              text-align: right;

              span {
                text-transform: uppercase;
              }
            }

            .home_slide_expr2 {
              text-transform: uppercase;
              color: @color-blue;
              font: bold 139px/108px @family-text;
              display: table-cell;
              vertical-align: middle;


            }
          }
        }
      }




    }


  .home_slider_slide2 {
    padding: 416px;
    background: url(/landing/img/slide2.png) no-repeat 50%;

    div {
      height: 170px;
      background: rgba(255, 255, 255, 0.3);
      width: 841px;
      margin: auto;
      text-align: center;

      .home_slider_slide2_expr1 {
        display: inline-block;
        color: @color-blue;
        font: normal 60px/51px @family-text;
        text-align: right;

        span {
          text-transform: uppercase;
        }
      }

      .home_slider_slide2_expr2 {
        text-transform: uppercase;
        color: @color-blue;
        font: bold 139px @family-text;
      }
    }
  }

  .home_slider_slide3 {
    padding: 416px;
    background: #fbeca6;

    div {
      height: 170px;
      background: rgba(255, 255, 255, 0.3);
      width: 841px;
      margin: auto;
      text-align: center;

      .home_slider_slide3_expr1 {
        display: inline-block;
        color: @color-blue;
        font: normal 60px/51px @family-text;
        text-align: right;

        span {
          text-transform: uppercase;
        }
      }

      .home_slider_slide3_expr2 {
        text-transform: uppercase;
        color: @color-blue;
        font: bold 139px @family-text;
      }
    }
  }

}

.header {
  background: rgba(0, 0, 0, 0);
  border: 0;
  .layout;

  .header_logo {
    padding-left: 15px;

    .header_logo_button {
      border: 0;

    }

    .header_logo_button:hover,
    .header_logo_button:active,
    .header_logo_button:focus {
      background: @color-text;
    }

    img {
      margin-top: 23px;
    }
  }

  .header_navbar {
    padding-right: 15px;

    li {
      .tab;

      a {
        text-align: center;
        padding: 37px 0 11px;
        display: block;
        width: 100px;
        color: @color-text;
        font-family: @family-text;
        font-size: 18px;
        background: transparent;
      }

    }

    .header_navbar_home {
      background: @color-blue;
    }

    .header_navbar_services {
      background: @color-red;
    }

    .header_navbar_about {
      background: @color-purpure;
    }

    .header_navbar_work {
      background: @color-green;
    }

    .header_navbar_contacts {
      background: @color-ablue;
    }

    li:not(.active) {
      background: transparent;
    }

    li:hover {
      background: #f5c149 + #111111;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: @color-text;
  }

  .navbar-toggle {
    border-color: #ddd;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: #ddd;
  }

  .navbar-toggle .icon-bar {
    background-color: #888;
  }

  .navbar-collapse,
  .navbar-form {
    border-color: #e7e7e7;
  }
}

.services {
  width: 100%;
  background: #b24a50 url(../img/bgr-services.png) no-repeat;
  text-align: center;
  padding: 160px 0 115px;
  .backgroung-size;

  .services_title2 {
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 300;
    line-height: 58px;
  }

  .services_title3 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
  }

  .services_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 100px;
  }

  .services_title3_pink,
  .services_paragraph {
    color: #ffccd0;
  }

  .services_item {
    border-radius: 5px;
    background: rgba(200, 83, 90, 0.8);
    padding: 45px 0;

    .services_item_title {
      font: 100 30px/38px @family-text;
      text-transform: uppercase;
      margin: 20px 0 45px;
    }

    .services_item_paragraph {
      font: 400 14px/20px @family-text;
      margin: 0;
      padding: 0 10px;
    }
  }
}

.about {
  width: 100%;
  background: #665464 url(../img/bgr-about.png) no-repeat;
  text-align: center;
  padding: 175px 0 115px;
  .backgroung-size;

  .about_title2 {
    font-size: 60px; /* Приближение из-за подстановки шрифтов */
    line-height: 58px; /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .about_paragraph {
    color: #e6d1e3;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
  }

  .about_tooltip {
    background: url(../img/m-team-bg.png) 50% no-repeat;
    font-size: 25px; /*  */
    font-weight: 900;
    line-height: 58px; /*  */
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 45px 0 55px;
  }

  .about_item {
    background-color: rgba(77, 63, 75, 0.5);
    border-radius: 5px;
    padding: 45px 0 30px;

    .about_item_photo {
      border-radius: 50%;
      border: 5px solid #a1859e;
    }

    .about_item_title {
      color: #c7b6c5;
      font-size: 26px; /*  */
      font-weight: 900;
      line-height: 26px; /*  */
      text-transform: uppercase;
      margin: 20px 0 10px;
    }

    .about_item_paragraph {
      font-size: 14px; /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 14px; /* Приближение из-за подстановки шрифтов */
      color: #a1ca6c;
    }

    .sprite {
      margin-top: 40px;

      .icon {
        display: inline-block;
        width: 31px;
        height: 31px;
        margin: 0 5px;
        vertical-align: bottom;
        background: url("../img/sprites.png") no-repeat;
      }

      .icon_f {
        background-position: 0 -1px;
      }

      .icon_tw {
        background-position: -195px -1px;
      }

      .icon_goo {
        background-position: -297px -1px;
      }

      .icon_i {
        background-position: -100px -1px;
      }
    }

  }

  .about_item:hover {
    .about_item_title {
      color: @color-text;
    }

    .about_item_paragraph {
      color: @color-red;
    }

    .about_item_photo {
      border: 5px solid @color-red;
    }

    .icon_f {
      background-position: -48px 0;
    }

    .icon_tw {
      background-position: -249px -2px;
    }

    .icon_goo {
      background-position: -348px -1px;
    }

    .icon_i {
      background-position: -148px -1px;
    }

  }
}

.work {
  width: 100%;
  background: #81a256 url(../img/bgr-work.png) no-repeat;
  text-align: center;
  padding: 175px 0 115px;
  .backgroung-size;

  #Container .mix{
    display: none;
  }

  .title2 {
    font-size: 60px; /* Приближение из-за подстановки шрифтов */
    line-height: 58px; /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .paragraph {
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
  }

  .navbar-inverse {
    background-color: transparent;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid @color-green;
    border-bottom: 1px solid @color-green;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  .navbar-inverse .navbar-toggle {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 0 solid transparent;
    border-radius: 4px;
  }
  .navbar-inverse .navbar-brand {
    color: @color-text;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;/* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    padding: 10px 15px;
    height: auto;
    margin: 0;
  }

  .navbar-inverse .navbar-nav > li > a {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 10px;
    margin-left: 35px;
  }
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #f5c149;
    border-radius: 4px;
  }
  .navbar-inverse .navbar-nav > .selected > a,
  .navbar-inverse .navbar-nav > .selected > a:hover,
  .navbar-inverse .navbar-nav > .selected > a:focus {
    color: #fff;
    background-color: #f5c149;
    border-radius: 4px;
  }


  .navbar-inverse .navbar-collapse {
    border-color: @color-green;
  }

  .gallery_works {
    .gallery_works_item {
      padding: 0;

      li {
        list-style: none;
        margin: 10px;

        img {
          width: 100%;
        }
      }
    }
  }

}

.contacts {
  width: 100%;
  background: #75b4aa url(../img/bgr_contacts.png) no-repeat;
  text-align: center;
  padding: 175px 0 115px;

  .contacts_title2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    line-height: 58px;
    margin: 0 0 35px;
  }

  .contacts_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 120px;

  }

  .contacts_address {
    text-align: left;

    * {
      margin: 0;
    }

    .contacts_address_title3 {
      font-size: 30px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .contacts_address_title4 {
      color: #c0dfda;
      font-size: 20px;
      line-height: 16.8px;
      margin-bottom: 20px;
    }

    .contacts_address_add {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 70px;
      display: inline-block;
    }

    .contacts_address_cont {
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      display: inline-block;

      .contacts_address_cont_phone {
        color: #d0efea;
      }
    }
  }

  .contacts_map {
    border-radius: 4px;
    margin-top: 58px
  }

  .contacts_forma {
    text-align: left;
    * {
      margin: 0;
    }

    .contacts_forma_label {
      font-size: 30px; /* Приближение из-за подстановки шрифтов */
      font-weight: 100;
      line-height: 30px; /* Приближение из-за подстановки шрифтов */
      text-align: left;
      margin-bottom: 35px;
    }

    .form-control {
      background-color: #68a097;
      border: 0 solid #68a097;
      max-width: 260px;

      &::-webkit-input-placeholder {
        color: @color-ablue;
      }
      &::-moz-placeholder {
        color: @color-ablue;
      }
      &:-moz-placeholder {
        color: @color-ablue;
      }
      &:-ms-input-placeholder {
        color: @color-ablue;
      }
    }

    .form-control.contacts_forma_que {
      max-width: 540px;
      height: 159px;
      margin: 20px 0 30px;
    }

    .form-control:focus {
      background: @color-text;
      border: 0 solid @color-text;
    }

    .contacts_forma_button {
      text-align: center;

      .btn-default {
        background: @color-red;
        color: #ffffff;
        font-size: 26px; /* Приближение из-за подстановки шрифтов */
        font-weight: 900;
        line-height: 21px; /* Приближение из-за подстановки шрифтов */
        border: 0;
        border-bottom: 5px solid #c8535a;
        padding: 15px 95px;
      }
    }
  }
}

.footer {
  background: #68a097;

  .footer_sprite {
    max-width: 415px;
    margin: auto;
    .icon {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 40px 20px;
      vertical-align: bottom;
      background: url("../img/footer_sprites.png") no-repeat;
    }

    .icon_f {
      background-position: 0 -1px;
    }

    .icon_tw {
      background-position: -99px 0;
    }

    .icon_goo {
      background-position: -200px 0;
    }

    .icon_i {
      background-position: -301px 0;
    }
  }
}

