.facebook, .g+-(2), .linkedin, .twetter{
	background: url(sprites.png) no-repeat;
}

.facebook{
	background-position: 0 -1px ;
	width: 60px;
	height: 60px;
}

.g+-(2){
	background-position: -200px 0;
	width: 60px;
	height: 60px;
}

.linkedin{
	background-position: -301px 0;
	width: 60px;
	height: 60px;
}

.twetter{
	background-position: -99px 0;
	width: 60px;
	height: 60px;
}

